<dict>
    <key>InputSourceKind</key>
    <string>Keyboard Layout</string>
    <key>KeyboardLayout ID</key>
    <integer>{{ item.id }}</integer>
    <key>KeyboardLayout Name</key>
    <string>{{ item.name }}</string>
</dict>
